.wrapper-edit-user {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  align-content: center;
}
.wrapper-edit-user > * {
  margin-bottom: 50px;
}

nav {
  width: 100%;
  margin-bottom: 50px;
}
.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  border: 1px solid #000;
  border-radius: 5px;
}

.navigation li {
  display: flex;
  flex: 1;
  align-content: center;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #000;
}

.navigation li a {
  display: block;
  text-decoration: none;
  padding: 20px 30px;
  background: #bfbfbf;
  color: inherit;
  width: 100%;
  padding: 20px;
}

.navigation li a:hover {
  background: #ffffff;
}
.active {
  background: #ffffff !important;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

.content {
  position: relative;
}
.form-container {
  margin-top: 50px;
  position: relative;
  left: -60px;
}

.edit-form {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.form-group {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.button-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}

label {
  margin-right: 30px;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 0;
  white-space: nowrap;
}

input {
  padding: 5px;
  border-radius: 5px;
  min-width: 150px;
}

button {
  padding: 5px 20px;
  width: 120px;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  background: #66ffff;
  font-weight: 600;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}
