.wrapper-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

nav {
  width: 100%;
  margin-bottom: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  border: 1px solid #000;
  border-radius: 5px;
}

.navigation li {
  display: flex;
  flex: 1;
  align-content: center;
  white-space: nowrap;
  text-align: center;
  border: 1px solid #000;
}

.navigation li a {
  display: block;
  text-decoration: none;
  padding: 20px 30px;
  background: #bfbfbf;
  color: #000;
  width: 100%;
  padding: 20px;
}

.navigation li a:hover {
  background: #ffffff;
}

.active {
  background: #ffffff !important;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
}

.chat-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;

  padding: 9px 0;
}

.chat-header h2 {
  font-size: 14px;
}

.close-button {
  position: absolute;
  top: 2px;
  right: 2px;
  border: 1px solid #000;
  padding: 2px 5px 0;
  font-size: 22px;
  font-weight: 600;
}

.chat-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 300px;
  width: 100%;
  padding: 30px 10px;
  border: 1px solid #000;
}

.chat-body p {
  font-size: 14px;
  line-height: 1.2;
}

.chat-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 5px;
}

.user-div {
  flex: 1;
  position: relative;
}

.user-div p {
  position: relative;
  left: 50px;
}

.user-div p {
  font-size: 14px;
  font-weight: 600;
}

.input-div {
  flex: 3;
  position: relative;
}

.input-div input {
  width: 90%;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  right: 30px;
}

.chat-buttons {
  flex: 1;
  display: flex;
  align-content: flex-start;
}

.chat-buttons button {
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid #000;
  cursor: pointer;
  margin: 0 10px;
}
