.wrapper-register-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin-top: 100px;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 50px;
}

p {
  font-weight: normal;
  margin-bottom: 50px;
}

span {
  font-weight: normal;
}
